/*.main {*/
  /*min-height: 90vh;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*font-family: "Courier New", Courier, monospace;*/
/*}*/

/*.footer {*/
  /*display: flex;*/
  /*padding: 2rem 0;*/
  /*border-top: 1px solid #eaeaea;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/

/*.image {*/
  /*width: 70%;*/
  /*height: 50%;*/
  /*margin-left: 20%;*/
/*}*/

/*.input {*/
  /*width: 200px;*/
  /*height: 100%;*/
  /*padding: 1%;*/
  /*margin: 2%;*/
  /*box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);*/
  /*border-radius: 10px;*/
/*}*/

/*.title {*/
  /*font-size: 2rem;*/
  /*margin: 2rem 0;*/
/*}*/

/*.description {*/
  /*line-height: 1;*/
  /*margin: 2%;*/
  /*font-size: 1.2rem;*/
/*}*/

/*.button {*/
  /*border-radius: 4px;*/
  /*background-color: purple;*/
  /*border: none;*/
  /*color: #ffffff;*/
  /*font-size: 15px;*/
  /*padding: 5px;*/
  /*width: 100px;*/
  /*cursor: pointer;*/
  /*margin: 2%;*/
/*}*/

/*.inputDiv {*/
  /*width: 200px;*/
  /*height: 100%;*/
  /*padding: 1%;*/
  /*margin: 2%;*/
  /*border: lightslategray;*/
  /*box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);*/
  /*border-radius: 10px;*/
/*}*/
/*.select {*/
  /*border-radius: 4px;*/
  /*font-size: 15px;*/
  /*padding: 5px;*/
  /*width: 175px;*/
  /*cursor: pointer;*/
  /*margin: 2%;*/
/*}*/

/*.button1 {*/
  /*border-radius: 4px;*/
  /*background-color: blue;*/
  /*border: none;*/
  /*color: #ffffff;*/
  /*font-size: 15px;*/
  /*padding: 5px;*/
  /*width: 100px;*/
  /*cursor: pointer;*/
  /*margin: 2%;*/
/*}*/
/*@media (max-width: 1000px) {*/
  /*.main {*/
    /*width: 100%;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
  /*}*/
/*}*/
/*.main {*/
  /*min-height: 100vh;*/
/*}*/

/*.navbar {*/
  /*height: 10%;*/
  /*width: 100%;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*padding-top: 1%;*/
  /*padding-bottom: 1%;*/
  /*padding-left: 2%;*/
  /*padding-right: 2%;*/
  /*background-color: orange;*/
/*}*/

/*.content {*/
  /*height: 80%;*/
  /*width: 100%;*/
  /*padding-left: 5%;*/
  /*padding-right: 5%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
/*}*/

/*.flexCol {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
/*}*/

/*.connection {*/
  /*margin-top: 2%;*/
/*}*/

/*.mt2 {*/
  /*margin-top: 2%;*/
/*}*/

/*.subtitle {*/
  /*font-size: 20px;*/
  /*font-weight: 400;*/
/*}*/

/*.title {*/
  /*font-size: 24px;*/
  /*font-weight: 500;*/
/*}*/

/*.button {*/
  /*background-color: azure;*/
  /*padding: 0.5%;*/
  /*border-radius: 10%;*/
  /*border: 0px;*/
  /*font-size: 16px;*/
  /*cursor: pointer;*/
/*}*/

/*.button:hover {*/
  /*background-color: beige;*/
/*}*/
.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.input {
  width: 200px;
  height: 100%;
  padding: 1%;
  margin: 2%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 2rem;
  margin: 2rem 1rem;
}

.description {
  line-height: 1;
  margin: 2rem 1rem;
  font-size: 1.2rem;
}

.log {
  line-height: 1rem;
  margin: 1rem 1rem;
  font-size: 1rem;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  margin: 2rem 1rem;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
